* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-size: 48px;
}

.header {
    margin-top: 50px;
}

body {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 100px;
    background-color: #4980f718;
    font-family: monospace;
    font-size: 24px;
    flex-wrap: wrap-reverse;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
    text-align: center;
}

.game-container {
    width: 600px;
    height: 600px;
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
    flex: 1;
}

.column {
    flex: 1;
    border: 1px black solid;
}

.control-panel {
    width: 500px;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
    gap: 15px;
}

#grid-size-selector {
    width: 250px;
}

button {
    padding: 15px;
    font-size: 18px;
    border: 2px solid black;
    border-radius: 10px;
    font-weight: bold;
    font-family: monospace;
}

.color-controls {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.eraser-active {
    background-color: pink;
}

#eraser {
    margin-top: 25px;
}

#rainbow {
    margin-top: 25px;
}

.rainbow-active {
    background: linear-gradient(217deg, rgba(255, 0, 0, .8), rgba(255, 0, 0, 0) 70.71%),
        linear-gradient(127deg, rgba(0, 255, 0, .8), rgba(0, 255, 0, 0) 70.71%),
        linear-gradient(336deg, rgba(0, 0, 255, .8), rgba(0, 0, 255, 0) 70.71%);
}