* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.game-container {
    width: 600px;
    height: 600px;
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
    flex: 1;
}

.column {
    flex: 1;
    border: 1px black solid;
}
